* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 160px;
    height: 160px;
    object-fit: cover;
}

/*
.wrapper a{
  color: black;
  text-decoration: none;
  transition: 0.2s;
}

.wrapper a:hover{
    color:blueviolet;
    text-decoration: none;
  }


.wrapper{
    margin: 100px 20%;
    max-width: 1100px;
}

.heading{
    font-size: 20px !important;
}

.row{
    font-size: 20px !important;
}
*/